doctype html
html
	head
		title
			block title
			|  SpringRoll Connect v#{version}

		meta(name="author" content="PBS KIDS")
		meta(name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		link(href="/css/libraries.css?v=#{version}", rel="stylesheet")
		link(href="/css/main.css?v=#{version}", rel="stylesheet")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600")

		block header

		script(async, src="/js/libraries.js?v=#{version}")
		script(async, src="/js/main.js?v=#{version}")

		block footer
	block body

