nav.text-center
	ul.pagination
		//- if (pagination.total > pagination.size)
		//- 	li: a(href="#{pagination.base}/page/1") start
		li: a(href="#{pagination.base}/page/#{pagination.current-1}") &laquo;
		- var pages = Math.ceil(pagination.total / 24);
		- for (var i = 1; i < pages; i++) {
			li(class={"active": pagination.current == i})
				a(href="#{pagination.base}/page/#{i}")=i
		- }
		li: a(href="#{pagination.base}/page/#{pagination.current+1}") &raquo;
		//- if (pagination.total > pagination.size)
		//- 	li: a(href="#{pagination.base}/page/#{pagination.total}") end