extend ../templates/normal

append title
	| #{group.name} - Groups - 

append content
	.col-sm-12
		if user.privilege == privilege.admin
			include modal-edit
			button.btn.btn-sm.btn-default.pull-right(data-toggle="modal" data-target="#editGroup") 
				span.glyphicon.glyphicon-pencil
				|  Edit
		h2
			if group.logo && group.logo.length
				img.logo.logo-md(src="data:image/png;base64,#{group.logo}")
			| #{group.name}
		include ../partials/feedback
		form.panel.panel-default(method="post" action=url)
			.panel-heading
				h3.panel-title Access Token
			.panel-body 
				p An acces token is required to have access to non-production releases of games (i.e., Development, QA, and Staging). For more information about the access token, see the 
					a(href="/docs") documentation
					|.
				.input-group
					input.monospace.select-all.form-control(readonly type="text" value=group.token)
					if group.tokenExpires
						.input-group-addon Expires #{moment(group.tokenExpires).fromNow()}
					else
						.input-group-addon Expires: never
					if user.privilege == privilege.admin
						.input-group-btn
							button.btn.btn-primary(type="submit" name="action" value="refreshToken" data-toggle="confirm") 
								span.icon.glyphicon.glyphicon-refresh
								| Refresh
	.col-md-8.col-sm-7
		if user.privilege == privilege.admin
			button.btn.btn-sm.btn-default.pull-right(data-toggle="modal" data-target="#addGame") 
				span.glyphicon.glyphicon-plus
				|  Add
		h3 Games
		if user.privilege == privilege.admin
			include modal-game
		if games.length
			ul.list-group
				for game in games
					if game.isArchived
						- active = "archive"
					else
						- active = "games"
					li.list-group-item
						div.row
							div.col-md-10.col-sm-8.col-xs-6
								a.btn-block(href="/#{active}/#{game.slug}")=game.title
							div.col-md-1.col-sm-3.col-xs-5
								case game.groupPrivilege(group)
									when 0
										span.label.label-primary Read
									when 1
										span.label.label-primary Write
									when 2
										span.label.label-primary Admin
							if user.privilege == privilege.admin
								div.col-md-1.text-right
									form.pull-right(method="post" action=url)
										input(type="hidden" name="game" value=game._id)
										button.close(data-toggle="confirm" type="submit" name="action" value="removeGame") &times;
		else
			.alert.alert-warning No games for this group
	.col-md-4.col-sm-5
		if user.privilege == privilege.admin
			button.btn.btn-sm.btn-default.pull-right(data-toggle="modal" data-target="#addUser") 
				span.glyphicon.glyphicon-plus
				|  Add
		h3 Users
		if user.privilege == privilege.admin
			include modal-user
		if users.length
			ul.list-group
				for u in users
					li.list-group-item=u.name
						if user.privilege == privilege.admin
							form.pull-right(method="post" action=url)
								input(type="hidden" name="user" value=u._id)
								button.close(data-toggle="confirm" type="submit" name="action" value="removeUser") &times;
		else
			.alert.alert-warning No users in this group
