.modal.fade#editGroup
	.modal-dialog
		form.modal-content.form-horizontal(method="post" action=url)
			.modal-header
				button.close(data-dismiss="modal") &times;
				h4.modal-title Edit Group Properties
			.modal-body
				.form-group
					label.col-sm-3.control-label(for="name") Name
					.col-sm-9
						input.form-control#name(type="text" name="name" value=group.name required)
				.form-group(data-unique="/groups/search" data-ignore=group.slug)
					label.col-sm-3.control-label(for="slug") Slug
					.col-sm-9
						input.form-control#slug(type="text" name="slug" value=group.slug required)
						span.yes.glyphicon.glyphicon-ok.form-control-feedback
						span.no.glyphicon.glyphicon-remove.form-control-feedback
				.form-group
					label.col-sm-3.control-label(for="privilege") Privilege
					.col-sm-9
						table.table.no-margin.table-striped.table-bordered
							thead: tr
								th.text-center Read
									|  
									a(href="#" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="Default group privilege") 
										span.glyphicon.glyphicon-question-sign
								th.text-center Write
									|  
									a(href="#" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="Ability to manage games") 
										span.glyphicon.glyphicon-question-sign
								th.text-center Admin
									|  
									a(href="#" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="Ability to manage games, users and groups") 
										span.glyphicon.glyphicon-question-sign
							tbody: tr
								td.text-center: input(name="privilege" value="0" type="radio" checked=(group.privilege == 0))
								td.text-center: input(name="privilege" value="1" type="radio" checked=(group.privilege == 1))
								td.text-center: input(name="privilege" value="2" type="radio" checked=(group.privilege == 2))
				.form-group
					label.col-sm-3.control-label(for="logo") Logo
					.col-sm-9
						.base64(class=(group.logo && group.logo.length ? "" : "empty") data-limit="20000" data-width="64" data-height="64")
							button.select.btn.btn-default.btn-sm(type="button" data-toggle="popover" data-trigger="manual" data-content="Invalid image") Browse...
							input.input.hidden(type="file" accept="image/jpeg, image/png")
							button.btn.btn-default.btn-sm.reset(type="button") &times;
							img.preview(width="64" height="64" src="data:image/png;base64,#{group.logo}")
							input.output(type="hidden" name="logo")
							span.help.help-inline PNG or JPG 64px &times; 64px less than 20KB
				.form-group
					label.col-sm-3.control-label Access
					.col-sm-9
						p: .input-group
							input.select-all.form-control(readonly type="text" value=group.token)
							.input-group-addon
								input(type="checkbox" name="refreshToken" value="1" checked=false)
								|  Refresh
						p
							strong Expires: 
							if group.tokenExpires
								span=moment(group.tokenExpires).fromNow()
							else
								span never
						.radio: label
							input(type="radio" name="tokenExpiresRefresh" value="0"  checked=!!group.tokenExpires) 
							| No change
						.radio: label
							input(type="radio" name="tokenExpiresRefresh" value="1") 
							| Expires
							span.help-inline Token expires in a year
						.radio: label
							input(type="radio" name="tokenExpiresRefresh" value="-1" checked=!group.tokenExpires) 
							| Forever
							span.help-inline Token doesn't expire
			.modal-footer
				button.btn.btn-primary(type="submit" name="action" value="updateGroup") Save
				|  
				button.btn.btn-danger(data-toggle="confirm" type="submit" name="action" value="deleteGroup") Delete
				|  
				button.btn.btn-default(type="button" data-dismiss="modal") Cancel