.form-group
	label.col-sm-3.control-label Capabilities
	.col-sm-9
		button.btn.btn-default.btn-sm(type="button" data-toggle="collapse" data-target="#capabilities") Show Options
#capabilities.collapse: .well
	.row
		.form-group
			label.col-sm-3.control-label Interface
			.col-sm-9
				.checkbox
					label
						input(type="checkbox" name="capabilities[ui][mouse]" checked=game.capabilities.ui.mouse)
						|  Mouse supported
				.checkbox
					label
						input(type="checkbox" name="capabilities[ui][touch]" checked=game.capabilities.ui.touch)
						|  Touch supported
		.form-group
			label.col-sm-3.control-label Sizes
			.col-sm-9
				.checkbox
					label
						input(type="checkbox" name="capabilities[sizes][xsmall]" checked=game.capabilities.sizes.xsmall)
						|  Screens &lt; 480px
				.checkbox
					label
						input(type="checkbox" name="capabilities[sizes][small]" checked=game.capabilities.sizes.small)
						|  Screens &lt; 768px
				.checkbox
					label
						input(type="checkbox" name="capabilities[sizes][medium]" checked=game.capabilities.sizes.medium)
						|  Screens &lt; 992px
				.checkbox
					label
						input(type="checkbox" name="capabilities[sizes][large]" checked=game.capabilities.sizes.large)
						|  Screens &lt; 1200px
				.checkbox
					label
						input(type="checkbox" name="capabilities[sizes][xlarge]" checked=game.capabilities.sizes.xlarge)
						|  Screens &gt;= 1200px
		.form-group
			label.col-sm-3.control-label Features
			.col-sm-9
				.checkbox
					label
						input(type="checkbox" name="capabilities[features][webgl]" checked=game.capabilities.features.webgl)
						|  WebGL required
				.checkbox
					label
						input(type="checkbox" name="capabilities[features][geolocation]" checked=game.capabilities.features.geolocation)
						|  Geolocation required
				.checkbox
					label
						input(type="checkbox" name="capabilities[features][webaudio]" checked=game.capabilities.features.webaudio)
						|  WebAudio API required (no Flash fallback)
				.checkbox
					label
						input(type="checkbox" name="capabilities[features][websockets]" checked=game.capabilities.features.websockets)
						|  WebSockets API required
				.checkbox
					label
						input(type="checkbox" name="capabilities[features][webworkers]" checked=game.capabilities.features.webworkers)
						|  WebWorkers API required